{% load static %}

<div class="post-comments">
  <header>
    <h3 class="h6">Commentaires<span class="no-of-comments">({{ post.comment_count }})</span></h3>
  </header>
  {% for comment in post.get_comments %}
  <!-- Comment -->
  <div class="comment">
    <div class="comment-header d-flex justify-content-between">
      <div class="user d-flex align-items-center">
        {% if comment.user.author %}
        <div class="image"><img src="{{ comment.user.author.profile_picture.url }}" alt="..." class="img-fluid rounded-circle"></div>
        <div class="title"><strong><a href="#">{{ comment.user.author.full_name }} </a> </strong><span class="date">{{ comment.timestamp }}</span></div>
        {% else %}
        <div class="image"><img src="{% static 'img/user.svg' %}" alt="..." class="img-fluid rounded-circle"></div>
        <div class="title"><strong><a href="#">{{ comment.user.username }} </a> </strong><span class="date">{{ comment.timestamp }}</span></div>
        {% endif %}
      </div>
    </div>
    <div class="comment-body">
      <p>{{ comment.content }}</p>
    </div>
  </div>
  {% endfor %}
</div>

<div class="add-comment">
  <header>
    <h3 class="h6">Laisser un commentaire</h3>
  </header>
  <!--
  <form method="POSTCOMMENT" action="." class="commenting-form">
    {% csrf_token %}
    <div class="row">
      <div class="form-group col-md-6">
        <input type="text" name="username" id="username" placeholder="Nom" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <input type="email" name="username" id="useremail" placeholder="Addresse de messagerie (elle ne sera pas publiée)" class="form-control">
      </div>
      <div class="form-group col-md-12">
        {{ form }}
      </div>
      <div class="form-group col-md-12">
        <button type="submit" class="btn btn-secondary">Laisser un commentaire</button>
      </div>
    </div>
  </form>-->
  <form action="." class="commenting-form" method="post">
    <div class="row">
      {% if not request.user.is_authenticated %}
      <div class="form-group col-md-6">
        <input type="text" name="username" id="username" placeholder="Votre nom" class="form-control">
      </div>
      {% endif %}
      {% if not request.user.is_authenticated %}
      <div class="form-group col-md-6">
        <input type="email" name="useremail" id="useremail" placeholder="Addresse de messagerie (elle ne sera pas publiée)" class="form-control">
      </div>
      {% endif %}
      <div class="form-group col-md-12">
        {% csrf_token %}
        <textarea name="usercomment" id="usercomment" placeholder="Votre commentaire" class="form-control" required></textarea>
      </div>
      <div class="form-group col-md-12">
        <button type="submit" class="btn btn-secondary">Laisser un commentaire</button>
      </div>
    </div>
  </form>  
</div>
