

<style>
	.create-post {
		width: 75%;
		margin: auto;
		margin-top: 50px;
	}

	.create-post header {
	  margin-bottom: 30px;
	}

	.create-post input,
	.create-post select,
	.create-post textarea {
	  background: none;
	  border: none;
	  border-bottom: 1px solid #ddd;
	  padding: 10px 0;
	  border-radius: 0;
	  font-family: "Open Sans", sans-serif;
	}

	.create-post input::-moz-placeholder,
	.create-post textarea::-moz-placeholder {
	  font-weight: 400;
	  font-size: 0.9em;
	  color: #aaa;
	  font-weight: 400;
	  font-family: "Open Sans", sans-serif;
	}

	.create-post input::-webkit-input-placeholder,
	.create-post textarea::-webkit-input-placeholder {
	  font-weight: 400;
	  font-size: 0.9em;
	  color: #aaa;
	  font-weight: 400;
	  font-family: "Open Sans", sans-serif;
	}

	.create-post input:-ms-input-placeholder,
	.create-post textarea:-ms-input-placeholder {
	  font-weight: 400;
	  font-size: 0.9em;
	  color: #aaa;
	  font-weight: 400;
	  font-family: "Open Sans", sans-serif;
	}

	.create-post input:focus,
	.create-post select:focus,
	.create-post textarea:focus {
	  -webkit-box-shadow: none;
	  box-shadow: none;
	  border-bottom: 1px solid #999;
	}

	.create-post textarea {
	  min-height: 150px;
	}

	.create-post {
	  margin-top: 50px;
	}

	.create-post header {
	  margin-bottom: 30px;
	}

	.create-post input,
	.create-post select,
	.create-post textarea {
	  background: none;
	  border: none;
	  border-bottom: 1px solid #ddd;
	  padding: 10px 0;
	  border-radius: 0;
	  font-family: "Open Sans", sans-serif;
	}

	.create-post input::-moz-placeholder,
	.create-post textarea::-moz-placeholder {
	  font-weight: 400;
	  font-size: 0.9em;
	  color: #aaa;
	  font-weight: 400;
	  font-family: "Open Sans", sans-serif;
	}

	.create-post input::-webkit-input-placeholder,
	.create-post textarea::-webkit-input-placeholder {
	  font-weight: 400;
	  font-size: 0.9em;
	  color: #aaa;
	  font-weight: 400;
	  font-family: "Open Sans", sans-serif;
	}

	.create-post input:-ms-input-placeholder,
	.create-post textarea:-ms-input-placeholder {
	  font-weight: 400;
	  font-size: 0.9em;
	  color: #aaa;
	  font-weight: 400;
	  font-family: "Open Sans", sans-serif;
	}

	.create-post input:focus,
	.create-post textarea:focus {
	  -webkit-box-shadow: none;
	  box-shadow: none;
	  border-bottom: 1px solid #999;
	}

	.create-post textarea {
	  min-height: 150px;
	}
</style>
