{% extends "../base.html" %}

{% load static %}

{% block content %}

<div class="container">
  <div class="row">
    <!-- Latest news -->
    <main class="news-listing col-lg-8">
      <div class="container">
        <div class="row">
          {% comment %}
          {% for new in queryset %}
          <!-- new -->
          <div class="new col-xl-6">
            <div class="new-thumbnail"><a href="{{ new.get_absolute_url }}"><img src="{{ new.thumbnail.url }}" alt="..." class="img-fluid"></a></div>
            <div class="new-details">
              <div class="new-meta d-flex justify-content-between">
                <div class="category">
                {% for cat in new.categories.all %}
                <a href="{{ cat.get_absolute_url }}">{{ cat }}</a>
                {% endfor %}
              </div>
              </div>
              <a href="{{ new.get_absolute_url }}">
                <h3 class="h4">{{ new.title }}</h3>
              </a>
              <p class="text-muted">{{ new.overview }}</p>
              <footer class="new-footer d-flex align-items-center">
                <a href="#" class="author d-flex align-items-center flex-wrap">
                  <div class="avatar"><img src="{{ new.author.profile_picture.url }}" alt="..." class="img-fluid"></div>
                  <div class="title"><span>{{ new.author.full_name }}</span></div>
                </a>
                <div class="date"><i class="icon-clock"></i> {{ new.timestamp|timesince }} ago</div>
                <div class="comments meta-last"><i class="icon-comment"></i>{{ new.comment_count }}</div>
              </footer>
            </div>
          </div>
          {% endfor %}
          {% endcomment %}

        </div>
        <!-- Pagination -->
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-template d-flex justify-content-center">
            {% if queryset.has_previous %}
            <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.previous_page_number }}" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
            {% endif %}
            <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.number }}" class="page-link active">{{ queryset.number }}</a></li>
            {% if queryset.has_next %}
            <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.next_page_number }}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </main>

    <!-- aside -->
    {% include 'news/aside.html' %}

  </div>
</div>

{% endblock content %}