<style>
	.send-message {
		width: 75%;
		margin: auto;
		margin-top: 50px;
	}

	.send-message header {
	  margin-bottom: 30px;
	}

	.send-message input,
	.send-message textarea {
	  background: none;
	  border: none;
	  border-bottom: 1px solid #ddd;
	  padding: 10px 0;
	  border-radius: 0;
	  font-family: "Open Sans", sans-serif;
	}

	.send-message input::-moz-placeholder,
	.send-message textarea::-moz-placeholder {
	  font-weight: 400;
	  font-size: 0.9em;
	  color: #aaa;
	  font-weight: 400;
	  font-family: "Open Sans", sans-serif;
	}

	.send-message input::-webkit-input-placeholder,
	.send-message textarea::-webkit-input-placeholder {
	  font-weight: 400;
	  font-size: 0.9em;
	  color: #aaa;
	  font-weight: 400;
	  font-family: "Open Sans", sans-serif;
	}

	.send-message input:-ms-input-placeholder,
	.send-message textarea:-ms-input-placeholder {
	  font-weight: 400;
	  font-size: 0.9em;
	  color: #aaa;
	  font-weight: 400;
	  font-family: "Open Sans", sans-serif;
	}

	.send-message input:focus,
	.send-message textarea:focus {
	  -webkit-box-shadow: none;
	  box-shadow: none;
	  border-bottom: 1px solid #999;
	}

	.send-message textarea {
	  min-height: 150px;
	}.send-message {
	  margin-top: 50px;
	}

	.send-message header {
	  margin-bottom: 30px;
	}

	.send-message input,
	.send-message textarea {
	  background: none;
	  border: none;
	  border-bottom: 1px solid #ddd;
	  padding: 10px 0;
	  border-radius: 0;
	  font-family: "Open Sans", sans-serif;
	}

	.send-message input::-moz-placeholder,
	.send-message textarea::-moz-placeholder {
	  font-weight: 400;
	  font-size: 0.9em;
	  color: #aaa;
	  font-weight: 400;
	  font-family: "Open Sans", sans-serif;
	}

	.send-message input::-webkit-input-placeholder,
	.send-message textarea::-webkit-input-placeholder {
	  font-weight: 400;
	  font-size: 0.9em;
	  color: #aaa;
	  font-weight: 400;
	  font-family: "Open Sans", sans-serif;
	}

	.send-message input:-ms-input-placeholder,
	.send-message textarea:-ms-input-placeholder {
	  font-weight: 400;
	  font-size: 0.9em;
	  color: #aaa;
	  font-weight: 400;
	  font-family: "Open Sans", sans-serif;
	}

	.send-message input:focus,
	.send-message textarea:focus {
	  -webkit-box-shadow: none;
	  box-shadow: none;
	  border-bottom: 1px solid #999;
	}

	.send-message textarea {
	  min-height: 150px;
	}

	.send-message #social
	{
		display: flex;
		flex-direction: row;
		justify-content: space-around;

		width: 200px;
		margin: auto;
		margin-bottom: 10px;
	}

	.send-message h2
	{
		text-align: center;
	}
</style>